@media screen and (max-width:1920px){
    
}
@media screen and (max-width:1200px){
    .choose{
        display: none;
    }
}
@media screen and (max-width:992px){
    .phone{
        display: none;
    }
    .row{
        padding-left: 30px;
    }
    
}
@media screen and (max-width:768px){
    .header-img{
        display: none;
    }
   
}
