@media screen and (max-width:1920px){
    
    .carousel-inner .carousel-item img{
    }
    .news-item > .news-itembox + .news-itembox>div{
        float: left;
    }
    .carousel-inner .carousel-item{
        height: 480px;
    }
    .carousel-inner .carousel-item img{
        height: 480px;
    }
}
@media screen and (max-width:1200px){
    .choose{
        display: none;
    }
    .phone{
        display: none;
    }
   
    .footer-link{
        text-align: center;
    }
    .footer-container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .content,header{
        padding: 0 20px;
    } 
    .carousel-inner .carousel-item{
        height: auto;
    }
    .carousel-inner .carousel-item img{
        height: auto;
    }
    .sm-banner{
        display: none;
    }
}
@media screen and (max-width:992px){
    .header-img{
        display: none;
    }
    .mini-nav{
        display: block;
    }
    nav{
       display: none;
    }
    .header-main .logo{
       margin-top: 0;
    }
    .search-box{
       margin-top: 10px;
    }
    .news-nav li{
        display: none;
    }
    .mini-more-btn{
        display: block;
    }
    .teacher-course{
        display: none;
    }
    .teacher .more-btn{
        display: none;
    }
    .teacher .title ,.phone-num .title ,.link .title{
        width: 100%;
    }

    .phone-item{
        justify-content:center;
    }
}
@media screen and (max-width:768px){
    
    .news-title {
        margin-left: 0;
        width: 100%;
    }
    .news-time{
        margin-left: 0;
    }
    .news-itembox{
        padding-bottom: 20px;
        border-bottom: 1px solid #eee;
    }
    .news-item > .news-itembox + .news-itembox>div{
        margin-top: 10px;
        clear: both;
    }
    .news-item > .news-itembox + .news-itembox>.news-title{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; /*截取两行*/
        overflow: hidden;
        white-space:normal;
    }
    .img-nav-pic{
        text-align: center;
    }
    .img-nav-pic img{
        width: 80%;
        margin-bottom: 20px;
    }
}
