/* header  start */
header{
    width: 1200px;
    margin: 0 auto;
}
.header-img{
    text-align: center;
}
.header-main{
    padding: 10px 0;
}

/* nav  start */
nav{
    background: #1ab95f;
    height: 45px;
    line-height: 45px;
    min-width: 1200px;
}
.choose{
    width: 210px;
    background: #2472bb;
    font-size: 16px;
    color: #ffffff;
    padding-left: 36px;
    margin-right: 35px;
    position: relative;
}
.choose-text{
    color: #ffffff;
}
.choose-text:hover{
    text-decoration: none;
}
.choose em{
    background-position: 0 0;
    width: 17px;
    height: 11px;
    background: url(../img/icon/icon1.png) no-repeat;
    display: inline-block;
    margin-right: 8px;
}
.choose-child{
    top: 45px;
    left: 0;
    position: absolute;
    height: 480px;
    background: #0e4f8d;
    z-index: 999;
    width: 210px;
}

nav>ul{
    width: 1200px;
    margin: 0 auto;
}
nav>ul>li{
    float: left;
    width: 100px;
    text-align: center;
    height: 45px;
    position: relative;
}
nav>ul>li:hover{
    background: #2eea80;
}
nav>ul>li+li{
    margin: 0 3px;
    cursor: pointer;
}
li.active{
    background: #2eea80;
}
nav>ul>li a{
    color: #ffffff;
    font-size: 16px;
}
nav>ul>li a:hover{
    text-decoration: none;
}

/* banner  start */
.banner{
    margin: 0 auto;
    height: 480px;
    overflow: hidden;
    position: relative;
    width: 100%;
    min-width: 1200px;
}

.banner-img>li{
    height: 480px;
    display: none;
    transition: .3s;
}
.banner-img>li.show-item{
    display: list-item;
    
}
.banner-img>li:nth-child(1){
    background: url(../img/banner/banner1.jpg) 50% 50% / cover;
}
.banner-img>li:nth-child(2){
    background: url(../img/banner/banner2.jpg) 50% 50% / cover;
}
.banner-img>li:nth-child(3){
    background: url(../img/banner/banner3.jpg) 50% 50% / cover ;
}
.banner-img>li:nth-child(4){
    background: url(../img/banner/banner4.jpg) 50% 50% / cover;
}

.triangle{
    width: 0; 
    height: 0;
    border-width:4px 4px 4px 6px;
    border-style: solid;
    border-color: transparent  transparent transparent #2472bb;
    position: absolute;
    top: 7px;
    right: -10px;
}

/* content start */
.content{
    width: 1200px;
    margin: auto;
    margin-top: 40px;
}
/* 主体内容的绿色标题样式 */
.content .title{
    background: #1ab95f;
    font-size: 20px;
    color: #fff;
    text-align: center;
    padding: 12px 20px;
}
/* 标题下的分割线样式 */
.content .line{
    height: 2px;
    background: #9a9fa3;
}
.content .type{
    position: relative;
    width: 74px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    background: #2472bb;
    font-size: 14px;
    border-radius: 4px;
}
/* 新闻资讯 news */
.news{
    width: 780px;
}
.title-blue{
    margin-bottom: 20px;
}
.title-blue .title{
    margin-top: -6px;
}
.title-blue ul{
    height: 38px;
    line-height: 38px;
    background: #2472bb;
    margin-top: 6px;
    padding-left: 150px;
}
.title-blue ul li{
    float: left;
    color: #fff;
    font-size: 16px;
    width: 100px;
    text-align: center;
    transition: .3s;
    cursor: pointer;
}
/* .title-blue li:hover{
    background: #4d9be6;
} */
.title-blue li.active{
    background: #4d9be6;
}
/* 新闻列表样式 */
.news-item{
    display: none;
}
.news-item.show{
    display: block;
}
.news-itembox{
    margin-top: 20px;
    position: relative;
}
.news-title{
    font-size: 16px;
    color: #333;
    margin-left: 20px;
    max-width: 580px;
    overflow: hidden;
    text-overflow:ellipsis;
    cursor: pointer;
    white-space: nowrap;
}
.news-title:hover{
    color: #2472bb;
}
.news-time{
    font-size: 12px;
    line-height: 24px;
    margin-left: 20px;
}
.first{
    padding-left: 95px;
}
.first-time{
    position: absolute;
    left: 0;
    width: 78px;
    height: 78px;
    border: 1px solid #e8e8e8;
    background: #f6f6f6;
    text-align: center;
}
.first-time p:first-child{
    color: #97ca28;
    font-size: 48px;
}
.first-time p:last-child{
    color: #999;
}
.first .news-title{
    margin: 0;
    line-height: 30px;
}
.first-content{
    line-height: 24px;
    color: #999;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /*截取两行*/
    overflow: hidden;
}
/* 学习服务 study */
.study{
    width: 400px;
}
.study-enter{
    display: flex;
    flex-flow:row wrap;
    justify-content: space-between;
}
.study-enter li{
    width: 120px;
    background: #f6f6f6;
    border: 1px solid #e8e8e8;
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;
    height: 142px;
    position: relative;
    line-height: 220px;
    color: #333;
    cursor: pointer;
    transition: .3s;
}
.study-enter li .normal{
    display: block;
}
.study-enter li .active{
    display: none;
}
.study-enter li:hover{
    background: #2472bb;
    color: #fff;
}
.study-enter li:hover .normal{
    display: none;
}
.study-enter li:hover .active{
    display: block;
}
.study-enter img{
    position: absolute;
    top: 35px;
    left: 35px;
}

/* 师资介绍 */
.teacher-course{
    margin-left: 15px;
}
.teacher-course li{
    float: left;
    font-size: 16px;
    color:#2472bb;
    height: 48px;
    width: 82px;
    text-align: center;
    cursor: pointer;
    position: relative;
    line-height: 48px;
}
.more-btn{
    font-size: 16px;
    line-height: 50px;
}
.more-btn:hover{
    text-decoration: none;
    color: #2472bb;
}

/* 中间图片导航 img-nav*/
.img-nav{
    margin: 40px 0;
}
.img-box{
    width: 780px;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
}
/* 服务热线 phone-num */

.phone-item{
    display: flex;
    margin: 40px 0;
}
.phone-item img{
    width: 30px;
}
.phone-item .number{
    font-size: 20px;
    color: #333;
    margin-top: 2px;
    margin-left: 10px;
}
/* 友情链接 link */
.content .link .title{
    /* width: 120px;
    height: 50px;
    line-height: 50px; */
}
.link .fg{
    background: #666;
}
.link-item{
    margin: 15px 0;
}
/* footer start */
.footer{
    background: #454545;
    margin-top: 20px;
    padding-top: 30px;
}
.footer-container{
    width: 1200px;
    margin: 0 auto;
    color: #ffffff;
}
.footer-link a{
    color: #ffffff;
    
}
.footer-link .fg{
    background: #fff;
}
/* link分割短线 */
.fg{
    width: 2px;
    height: 15px;
    display: inline-block;
    vertical-align:-2px;
    margin: 0 5px;
}
.footer-icp{
    margin-bottom: 18px;
}
.footer-icp a{
    color: #ffffff;
}
.footer-container hr{
    width: 620px;
    height: 1px;
    background:#666;
    border: none;
    margin: 0;
}
.footer-qun{
    width: 620px;
    padding-top: 18px;
}
.footer-qun span{
    color: #999;
    margin-right: 120px;
    line-height: 22px;
}
.wx-code{
    width: 130px;
    text-align: center;
    color: #999;
    margin-right: 120px;
}
.wx-code img{
    width: 100%;
    height: auto;
}